@import "tailwindcss";

@theme {
  /* Custom Fonts */
  --font-overpass: 'Overpass', sans-serif;

  /* Custom Colors */
  --color-white: rgb(255, 255, 255);
  --color-grey-500: rgb(150,159,173);
  --color-grey-900: rgb(38,46,56);
  --color-grey-950: (19,21,24);
  --color-orange-500: rgb(252,118,20);
  --color-black: rgb(0,0,0);
  --color-gradient: linear-gradient(to right, rgb(35,42,52), rgb(24,30,39));
}

 @layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* For Firefox. */
    * {
        scrollbar-width: none;
    }

    /* For WebKit (Chrome & Safari). */
    ::-webkit-scrollbar {
        display: none;
    }
	}
